<html>
    <head>
        <title>Add A Poll</title>
    </head>
    
    <body>
        <h1>Add your Poll</h1>
        
        <form action="/add" method="post">
            <input type="text" name="ques" placeholder="Enter Your Question">
            <input type="text" name="o1" placeholder="Enter An Option">
            <input type="text" name="o2" placeholder="Enter An Option">
            <input type="text" name="o3" placeholder="Enter An Option">
            <input type="text" name="o4" placeholder="Enter An Option">
            <input type="submit" value="Add">
        </form>
        
    </body>
</html>