<html>

<body>
    
    {% for poll in here %}
        
    <form action="/vote/{{ no }}" method="post">
    <li name="ques">{{ poll.ques }}</li>
        {% for opt in poll.opts %}
        <input type="radio" name="btn" value="{{ opt }}">{{ opt }} <br>
        {% endfor %}
          <input type="submit" value="Vote">
    </form>   
    
    {% endfor %}
    
    <h2>Poll Result Till Now are:-</h2>
    {% for i in res %}
        <h3>{{i[0]}} {{i[1]}}</h3><br>
    {% endfor %}
    
    </body>
</html>